body{
    background-color: black;
    text-align: center;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.content_paypal{

}

.giphy{
    border:none;
    height: 30vh;
    width: 40vh;
}

a{
    color: #7ACC2D ;
}

h3{
    font-size: 3vh;
}

p{
    font-size: 2vh;
}